#cline{
width:800px;
height:400px;
overflow:auto;
position:relative;
text-align:right ;
}
#inpbox{
width:800px;
}
#msg_right{
margin-right:0;
margin-left:auto;
text-align:right;
width:600px;
background-color:#f1f1f1;
}
#msg_left{
margin-right:auto;
margin-left:0;
text-align:left;
width:600px;
background-color:#e5e5e5;
}
